<div class="section">
    <div class="container">
        {% if label %}
            <h1 class="text-center title" id="portfolio">{{ label }}</h1>
        {% endif %}
        <br>
        <div class="row object-non-visible" data-animation-effect="fadeIn">
            <div class="col-md-12">
                <div class="filters text-center">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#" data-filter="*">All</a></li>
                        {% for type in _data.types %}
                            <li><a href="#" data-filter=".type-{{ type.id }}">{{ type.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="isotope-container row grid-space-20">
                    {% block content %}
                        {{ content }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>