<div class="section translucent-bg bg-image-1 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="services"  class="text-center title">{{ label }}</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-6">
                {{ content.field_service_item }}
            </div>
            <div class="col-md-6">
                {{ content.field_service_item_second_col }}
            </div>
        </div>
    </div>
</div>