<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center">{{ content.field_title }}</span></h1>
                <div class="space"></div>
                  {{ content.field_about_block_content }}
                <div class="space"></div>
            </div>
        </div>
    </div>
</div>