{#
/**
 * @file
 * Template for a example 2 column layout.
 */
#}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ content.top }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            {{ content.middle_right }}
        </div>
        <div class="col-sm-3">
            {{ content.middle_left }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ content.bottom }}
        </div>
    </div>
</div>