<div class="media">
    <div class="media-body text-right">
        <h4 class="media-heading">{{ content.field_service_title }}</h4>
        {{ content.field_service_description }}
    </div>
    <div class="media-right">
       {{ content.field_service_icon }}
    </div>
</div>