<div class="media">
    <div class="media-left">
        {{ content.field_service_icon }}
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ content.field_service_title }}</h4>
        {{ content.field_service_description }}
    </div>
</div>