<div class="section">
    <div class="container">
        <h1 id="{{ content.field_section_anchor }}" class="title text-center">{{ title }}</h1>
            {{ content.field_page_content }}
    </div>
</div>